<footer class="footer"></footer>

<!-- Chamada de scripts -->

<!-- ## Plugins ## -->

<!-- Socket.io -->
<script src="https://cdn.socket.io/socket.io-1.4.3.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.0.1/locales/pt_BR/faker.pt_BR.min.js"></script>
<script src="https://maps.google.com/maps/api/js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.22/gmaps.min.js"></script>

<!-- ## Scripts do sistema ##-->
<script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>