/* reset */
html, body
    margin: 0
    padding: 0

/* Style geral */
body
    background: #eee

.pure-g
    width: 80%
    margin: 0 auto

/* header */
header
    background: #f39c12
    padding-top: 10px
    padding-bottom: 10px
        
    .hd-logo a
        font-family: Arial, sans-serif
        font-weight: 700
        color: #000
        text-decoration: none

/* pagina home */

.page-home-container
    margin-top: 20px