/* reset */
html, body
    margin: 0
    padding: 0

/* Style geral */
body
    background: #eee
        

.pure-g
    width: 80%
    margin: 0 auto

/* header */
header
    background: #f39c12
    padding-top: 10px
    padding-bottom: 10px
        
    .hd-logo a
        font-family: Arial, sans-serif
        font-weight: 700
        color: #000
        text-decoration: none

/* pagina home */

.page-home-container
    margin-top: 20px
    
/* menu lateral*/
.menu
    background: #fff
    box-shadow: 0.5px 0.5px 6px 1px #ccc
    border-radius: 4px
    
    .menu-profile
        background: #e67e22
        padding: 15px
        border-top-left-radius: 4px
        border-top-right-radius: 4px
        
        span
            color: #fff
            display: block
            
        .name
            font-weight: 700
            
    .list-friends
        margin: 0
        padding: 0
        
        .item-friend
            display: block
            padding: 10px 15px
            
        .item-friend
            border-bottom: 1px solid #ddd
        
        .item-friend:last-child    
            border-bottom: 0